// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #F8F8F8;
}


/* BASIC GRID FOR ROW COLS LAYOUT */
.cv-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
}

[class^='cv-col'] {
  min-height: 0.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

[class^='cv-col-'] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cv-col-1 { grid-column: span 1; }
.cv-col-2 { grid-column: span 2; }
.cv-col-3 { grid-column: span 3; }
.cv-col-4 { grid-column: span 4; }
.cv-col-5 { grid-column: span 5; }
.cv-col-6 { grid-column: span 6; }
.cv-col-7 { grid-column: span 7; }
.cv-col-8 { grid-column: span 8; }
.cv-col-9 { grid-column: span 9; }
.cv-col-10 { grid-column: span 10; }
.cv-col-11 { grid-column: span 11; }
.cv-col-12 { grid-column: span 12; }
/* **************************** */
/* **************************** */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cv-card {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 16px;
}

.horizontal-form {
  width: 100%;
  display: block;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60px;

  .error-message {
    color: red;
    font-size: .7rem;
    margin-top: 0.2rem;
  }
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;

  &:focus {
    border-color: #4a90e2;
  }

  &::placeholder {
    color: #bbb;
  }
}

.submit-btn {
  padding: 9px 16px 9px 16px;
  background-color: #15172A;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.submit-disabled {
  background-color: #EDEDED;
  color: #A3A3A3;
  cursor: auto;
}

.cv-banner-svg {
  display: block;
  width: 416px;
  height: 42px;
  background-repeat: no-repeat;
}
.cv-icon-svg { 
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}